{% extends 'index.html' %}

{% block content %}
    <form action="/add/" method="post" novalidate>
        {% csrf_token %}
        <p><h4>问卷名称：</h4><input type="text" name="surveyName"></p>
        <p>
        <h4>班级：</h4>
        <select name="cls">
            {% for class in class_list %}
                <option value="{{ class.id}}">{{ class.name }}</option>
            {% endfor %}
        </select>
        </p>
        <h4>创建人：</h4>
        <select name="user">
            {% for user in user_list %}
                <option value="{{ user.id}}">{{ user.name }}</option>
            {% endfor %}
        </select>
        </p>
        <input type="submit" class="btn btn-success" value="完成">
    </form>
{% endblock %}