{% extends 'index.html' %}
{% block content %}
    <div class="container">
        <div class="row col-md-10">
            <a href=""><button class="btn btn-primary">添加</button></a>
            <a href=""><button class="btn btn-primary">完成</button></a>
        </div>
        <div class="question col-lg-9">
    <ol>
        {% for item in form_list %}
            <li>
{#            给每个问题添加一个id，方便后面处理#}
                <div id = {{ item.obj.id }}>
                    <p>问题名称：{{ item.form.name }}</p>
                    <p>问题类型：{{ item.form.type }}<a href="#" class="{{ item.option_class }}">添加选项</a></p>
                    <ul>
                        {% for i in item.options %}
                            <li id="{{ i.obj.id }}">{{ i.form }}</li>

                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ol>
    </div>
{% endblock %}